.container {
  position: absolute;
}

.button {
  font-size: 1.8vw;
  position: absolute;
  border: 0.2vw grey solid;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.hovered {
  background: lightgrey;
}

.button.pressed {
  background: grey;
}
